{foreach from=$conversations item=cnv}
    
    <div class="msg-user" id="x{$cnv->user_id}" uid="{$cnv->user_id}" uu="/{$cnv->identity}">
        <img src="/public/file/account/image/{$cnv->profile->profile_photo}" class="uImg icon_circle lfloat" style="height: 58px;margin-left: -25px;margin-right: 10px; margin-top: -3px;width: 58px;">
        <h2>{$cnv->profile->first_name} {$cnv->profile->last_name}</h2><span class="msg-user-numNew"></span>
        <p></p>
    </div>
        
{/foreach}