<?php
foreach($conversations as $cnv):
    /* Who are the conversation with current user 
    if($cnv->user_one_id == $identity->user_id)
        {assign var=user_id value=$cnv->user_two_id}
        {assign var=status value=$cnv->one_status}
    { else}
        {assign var=user_id value=$cnv->user_one_id}
        {assign var=status value=$cnv->two_status}
    { /if}
    {*}assign data of conversations user{/*}
    {assign var='user' value=$cnvs_users.$user_id}
    {assign var='count' value=$nm_count[$cnv->id]}
    */
    
    // { if $status == 1}
 /*
    <div class="msg-user new" id="< ?php echo $cnv['id'];? >" uid="< ?php echo $user_id;? >">
            <!-- <img src="/public/file/account/image/default.png" class="uImg icon_circle lfloat" style="height: 58px;margin-left: -25px;margin-right: 10px;margin-top: -3px;width: 58px;"> -->
        <h2>Artur Mamedov</h2><span class="msg-user-numNew">3</span>
        <p>< ?php echo $cnv['message'];? ></p>
    </div>
        { else}
    */ 
    ?>

        <div class="msg-user selected">
            <img src="/image/data/penne-stampate.png" class="lfloat">
            <h2>Penne-stampate Staff</h2>
            <span class="msg-user-numNew">4</span>
            <p><?php echo $cnv['message'] ?></p>
        </div>
<?php
endforeach;
?>